@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(0, 0, 0), /* Escuro para o início do gradiente */
      rgb(30, 33, 34)  /* Um tom mais escuro para o final */
    );
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url("/preloader.svg"); /* Adicione uma imagem de loading */
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}


/* NAV BAR */
.welcome_h1{
  font-weight: 700;
  font-size: 90px;
  color: #f3ebeb;

}

.animacao_h1{
  color: #3b74bb !important;
  font-weight: 700;

}

/* Estilos base para a classe welcome_p */
.welcome_p {
  transition: color 0.3s ease, transform 0.3s ease; /* Transição suave para cor e transformação */
  font-size: 25px !important;
  font-weight: 700;
 
}

/* Efeito hover para a classe welcome_p */
.welcome_p:hover {
  color: #3184e9;         /* Altera a cor do texto quando o mouse passa por cima */
  transform: scale(1.05); /* Aumenta levemente o tamanho do elemento */
}


.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px; /* Espaçamento interno */
  background-color: #eaedf1; /* Cor de fundo (azul escuro) */
  border: 2px solid #0a0a0a; /* Borda de cor cinza-azulada */
  border-radius: 20px; /* Bordas arredondadas */
  transition: all 0.3s ease-in-out;
}


.logo-link:hover {
  transform: scale(1.04 ); /* Efeito de leve zoom */
  background-color: #5fc5e4; /* Fundo um pouco mais claro ao passar o mouse */
}


.nav_text {
  font-weight: 700 !important;
  color: #63faff;
  font-size: 23px !important;
  position: relative;
  transition: color 0.3s ease-in-out, transform 0.2s ease-in-out;
}

.nav_text:hover {
  color: #ffffff; /* Muda para branco ao passar o mouse */
  text-shadow: 0px 0px 10px rgba(131, 119, 119, 0.2); /* Efeito de brilho */
  transform: scale(1.05); /* Aumenta um pouco o tamanho */
}

/* Sublinhado animado */
.nav_text::after {
  content: "";
  position: absolute;
  left: 0;                                                                                                        
  bottom: -3px; /* Distância do sublinhado */
  width: 0;
  height: 2px; /* Espessura do sublinhado */
  background-color: #ffffff; /* Cor do sublinhado */
  transition: width 0.3s ease-in-out;
}

.nav_text:hover::after {
  width: 100%; /* Faz o sublinhado crescer do início ao fim */
}

.botoes_inicio {
  font-size: 1.2rem !important; /* Tamanho do texto */
  font-weight: bold !important;
  color: rgb(15, 15, 15) !important;
  padding: 12px 24px !important; /* Ajusta o tamanho interno */
  border-radius: 50px !important; /* Bordas arredondadas */
  border: 2px solid transparent !important; /* Começa sem borda visível */
  font-weight: bold   ;
  background: linear-gradient(135deg, #7f71bd, #00ffff) !important; /* Inverte o gradiente */
  transition: all 0.3s ease-in-out !important; /* Transição suave */
  display: inline-block !important; /* Para alinhar corretamente */
  text-align: center !important;
  position: relative !important;
  overflow: hidden !important;
  margin-left: 10px;
  margin-top: 25px;
}

.botoes_inicio:hover {
  transform: scale(1.05) !important; /* Aumenta levemente o botão */
  background: linear-gradient(135deg, #340edd, #00ffd5) !important; /* Inverte o gradiente */
  border-color: rgba(255, 255, 255, 0.5) !important; /* Mostra a borda com efeito de brilho */
  box-shadow: 0 0 15px rgba(151, 149, 149, 0.6) !important; /* Adiciona um brilho sutil */
}

/* Efeito de brilho passando pelo botão */
.botoes_inicio::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: -100% !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(255, 255, 255, 0.2) !important;
  transform: skewX(-45deg) !important;
  transition: left 0.5s !important;
}

.botoes_inicio:hover::before {
  left: 100% !important;
}



/* Animação do título */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px) scale(0.95);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}

.about {
  font-size: 3rem;
  font-weight: 800;
  color: #89d4ff;
  opacity: 0;
  transform: translateX(-50px) scale(0.95);
  filter: blur(5px);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  position: relative;
  transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out;
  
  /* Centralizando com flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* A animação para o título aparecer */
.about.animate-visible {
  opacity: 1;
  transform: translateX(0) scale(1);
  filter: blur(0);
}

.about::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #5c5f61;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

/* Animação da sublinha aparecer */
.about.animate-visible::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* text about */
/* Texto animado (entra da direita para a esquerda) */
.about_text {
  font-size: 1rem;
  opacity: 0;
  transform: translateX(50px); /* Começa deslocado para a direita */
  filter: blur(4px);
  transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out;
  font-weight: 900;
  color: #edebf3;
  font-style: inherit;
  font-family: 'Orbitron', sans-serif;
}

/* Quando visível na tela */
.about_text.animate-visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}



/* Oculta e posiciona a div fora da tela (esquerda) */
.topics_about {
  opacity: 0;
  font-weight: 900;
  font-size: 18px;
  transform: translateX(-50px); /* Inicia deslocada para a esquerda */
  filter: blur(5px);
  transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out; 
  
}

/* Escondendo a linha extra */
.topics_about .h-1.bg-primary-500 {
  display: none !important;
}
/* Quando visível na tela */
.topics_about.animate-visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* Efeito de sublinha ao passar o mouse */
.topics_about {
  opacity: 0;
  font-weight: 1000 !important;
  font-size: 20px;
  transform: translateX(-50px); /* Inicia deslocada para a esquerda */
  filter: blur(5px);
  transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out;
}

/* Quando visível na tela */
.topics_about.animate-visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* Efeito de sublinha ao passar o mouse */
.topics_about button {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.topics_about button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Ajuste a altura da linha */
  width: 0;
  height: 5px; /* Espessura da linha */
  background-color: rgb(5, 221, 236); /* Cor da linha */
  transition: width 0.4s ease-in-out;
}

.topics_about button:hover::after {
  width: 90%;
  
}

/* Estado inicial: escondido e deslocado para a esquerda */
.about-image {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Quando visível na tela */
.about-image.animate-visible {
  opacity: 1;
  transform: translateX(0);
}










