@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;  
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      rgb(0, 0, 0), /* Escuro para o início do gradiente */
      rgb(0, 0, 0)  /* Um tom mais escuro para o final */
    );
}


#preloader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999999;
  background-color: #0c0513;
  background-image: url("/preloader.svg"); /* Adicione uma imagem de loading */
  background-repeat: no-repeat;
  background-position: center;
}

#preloader-none {
  opacity: 0;
  transition: opacity 0.5s ease-out;
}

.no-scroll {
  overflow: hidden;
}

.scroll {
  overflow: auto;
}

.from-primary-400 {
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}

.from-primary-900 {
  --tw-gradient-from: #1e3a8a var(--tw-gradient-from-position) !important; /* Azul escuro */
  --tw-gradient-to: rgb(30 58 138 / 0) var(--tw-gradient-to-position) !important; /* Transparente no mesmo tom */
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to) !important;
}

.bg-\[\#121212\] {
  --tw-bg-opacity: 0.4;
  background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

/* NAV BAR */
.welcome_h1{
  font-weight: 700;
  font-size: 90px;
  color: #f3ebeb;

}

.animacao_h1{
  color: #3b74bb !important;
  font-weight: 700;

}

/* Estilos base para a classe welcome_p */
.welcome_p {
  transition: color 0.3s ease, transform 0.3s ease; /* Transição suave para cor e transformação */
  font-size: 25px !important;
  font-weight: 700;
 
}

/* Efeito hover para a classe welcome_p */
.welcome_p:hover {
  color: #3184e9;         /* Altera a cor do texto quando o mouse passa por cima */
  transform: scale(1.05); /* Aumenta levemente o tamanho do elemento */
}
.logo-social-container {
  display: flex;
  align-items: center; /* Mantém tudo alinhado na mesma linha */
  gap: 15px; /* Espaço entre o logo e os ícones sociais */
  margin-left: -95px !important; /* Move tudo para a esquerda */
}

.social-link-nav {
  display: flex;
  gap: 8px; /* Espaçamento entre os ícones sociais */
  align-items: center;
  margin-left: 0; /* Garante que fique na extrema esquerda */
}

.social-link-nav a img {
  transition: transform 0.3s ease, filter 0.3s ease;
}

/* Efeito de hover aplicado apenas  aos ícones sociais */
.social-link-nav a:hover img {
  transform: scale(1.3); /* Aumenta o ícone em 30% */
  filter: drop-shadow(2px 2px 6px rgba(0, 0, 0, 0.2)); /* Sombra suave */
  opacity: 0.9; /* Leve transparência para efeito mais suave */
}

/* Logo */
.logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1px;
  background-color: #abacad;
  border: 2px solid #000000;
  border-radius: 20px;
  transition: background-color 0.7s ease, border-color 0.7s ease; /* Adiciona transição suave */
}

/* Hover removido, mas a cor de fundo muda suavemente */
.logo-link:hover {
  background-color: #3e3f3f; /* Cor original de fundo */
  border-color: #0a0a0a; /* Mantém a borda como está, pode mudar se desejar */
}

.social-link-nav a:nth-child(2) { 
  margin-top: 5px; /* Ajuste conforme necessário */
}






/* Estilo inicial do texto */
.text-effect {
  font-weight: 450 !important;
  font-size: 20px !important;
  position: relative;
  transition: color 0.4s ease-in-out, transform 0.3s ease-in-out;
  color: #ffffff;
}

/* Efeito no hover do texto */
.text-effect:hover {
  color: #3ebdd3; /* Muda para a cor desejada ao passar o mouse */
  text-shadow: 0px 0px 10px rgba(131, 119, 119, 0.2); /* Efeito de brilho */
  transform: scale(1.03); /* Aumenta um pouco o tamanho do texto */
}

/* Sublinhado animado */
.text-effect::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Distância do sublinhado */
  width: 0;
  height: 2px; /* Espessura do sublinhado */
  background-color: #5cd1ff; /* Cor do sublinhado */
  transition: width 0.3s ease-in-out;
}

.text-effect:hover::after {
  width: 110%; /* Faz o sublinhado crescer do início ao fim */
}

/* Efeito no ícone (imagem) ao passar o mouse sobre o item */
.nav-item:hover .icon-effect-nav {
  transform: scale(1.2); /* Aumenta o ícone em 20% */
  transition: transform 0.3s ease-in-out; /* Transição suave */
}

/* Efeito no texto e no ícone quando o item é hoverado */
.nav-item:hover .text-effect {
  color: #5cd1ff; /* Alteração de cor do texto */
  text-shadow: 0px 0px 10px rgba(131, 119, 119, 0.2); /* Efeito de brilho no texto */
  transform: scale(1.03); /* Aumento do texto */
}







.botoes_inicio {
  font-size: 1.2rem !important; /* Tamanho do texto */
  font-weight: bold !important;
  color: rgb(15, 15, 15) !important;
  padding: 12px 24px !important; /* Ajusta o tamanho interno */
  border-radius: 50px !important; /* Bordas arredondadas */
  border: 2px solid transparent !important; /* Começa sem borda visível */
  font-weight: bold   ;
  background: linear-gradient(135deg, #7f71bd, #00ffff) !important; /* Inverte o gradiente */
  transition: all 0.3s ease-in-out !important; /* Transição suave */
  display: inline-block !important; /* Para alinhar corretamente */
  text-align: center !important;
  position: relative !important;
  overflow: hidden !important;
  margin-left: 10px;
  margin-top: 25px;
}

.botoes_inicio:hover {
  transform: scale(1.05) !important; /* Aumenta levemente o botão */
  background: linear-gradient(135deg, #340edd, #00ffd5) !important; /* Inverte o gradiente */
  border-color: rgba(255, 255, 255, 0.5) !important; /* Mostra a borda com efeito de brilho */
  box-shadow: 0 0 15px rgba(151, 149, 149, 0.6) !important; /* Adiciona um brilho sutil */
}

/* Efeito de brilho passando pelo botão */
.botoes_inicio::before {
  content: "" !important;
  position: absolute !important;
  top: 0 !important;
  left: -100% !important;
  width: 100% !important;
  height: 100% !important;
  background: rgba(255, 255, 255, 0.2) !important;
  transform: skewX(-45deg) !important;
  transition: left 0.5s !important;
}

.botoes_inicio:hover::before {
  left: 100% !important;
}



/* Animação do título */
@keyframes slideInLeft {
  from {
    opacity: 0;
    transform: translateX(-50px) scale(0.95);
    filter: blur(5px);
  }
  to {
    opacity: 1;
    transform: translateX(0) scale(1);
    filter: blur(0);
  }
}

.about {
  font-size: 3rem;
  font-weight: 800;
  color: #89d4ff;
  opacity: 0;
  transform: translateX(-50px) scale(0.95);
  filter: blur(5px);
  text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
  margin-bottom: 10px;
  position: relative;
  transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out;
  
  /* Centralizando com flexbox */
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

/* A animação para o título aparecer */
.about.animate-visible {
  opacity: 1;
  transform: translateX(0) scale(1);
  filter: blur(0);
}

.about::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: #5c5f61;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.5s ease-out;
}

/* Animação da sublinha aparecer */
.about.animate-visible::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}


/* text about */
/* Texto animado (entra da direita para a esquerda) */
.about_text {
  font-size: 1rem;
  opacity: 0;
  transform: translateX(50px); /* Começa deslocado para a direita */
  filter: blur(4px);
  transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out;
  font-weight: 900;
  color: #edebf3;
  font-style: inherit;
  font-family: 'Orbitron', sans-serif;
}

/* Quando visível na tela */
.about_text.animate-visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}



/* Oculta e posiciona a div fora da tela (esquerda) */
.topics_about {
  opacity: 0;
  font-weight: 900;
  font-size: 18px;
  transform: translateX(-50px); /* Inicia deslocada para a esquerda */
  filter: blur(5px);
  transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out; 
  
}

/* Escondendo a linha extra */
.topics_about .h-1.bg-primary-500 {
  display: none !important;
}
/* Quando visível na tela */
.topics_about.animate-visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* Efeito de sublinha ao passar o mouse */
.topics_about {
  opacity: 0;
  font-weight: 1000 !important;
  font-size: 20px;
  transform: translateX(-50px); /* Inicia deslocada para a esquerda */
  filter: blur(5px);
  transition: opacity 1s ease-out, transform 1s ease-out, filter 1s ease-out;
}

/* Quando visível na tela */
.topics_about.animate-visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0);
}

/* Efeito de sublinha ao passar o mouse */
.topics_about button {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.topics_about button::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -3px; /* Ajuste a altura da linha */
  width: 0;
  height: 5px; /* Espessura da linha */
  background-color: rgb(5, 221, 236); /* Cor da linha */
  transition: width 0.4s ease-in-out;
}

.topics_about button:hover::after {
  width: 90%;
  
}

/* Estado inicial: escondido e deslocado para a esquerda */
.about-image {
  opacity: 0;
  transform: translateX(-100px);
  transition: opacity 1s ease-out, transform 1s ease-out;
}

/* Quando visível na tela */
.about-image.animate-visible {
  opacity: 1;
  transform: translateX(0);
}


/* O nome começa invisível e deslocado para a direita */
/* CSS adicionado para garantir que o nome se sobressaia ao ícone */
.icon-hidden {
  opacity: 0;
  transform: translateX(20px); /* Inicia 20px à direita */
}

.icon-visible {
  opacity: 1;
  transform: translateX(0);
  transition: opacity 0.3s ease-out, transform 0.3s ease-out;
}

.icon-visible:hover {
  transform: scale(1.2); /* Aumenta o ícone 1.2 vezes */
  transition: transform 0.2s ease-out; /* Transição suave para o zoom */
}

.icon-container {
  position: relative;
}

.tool-name {
  opacity: 0; /* Nome fica invisível inicialmente */
  transform: translateY(-10px); /* Ajusta para a posição inicial do nome */
  font-weight: 700;
  margin: 4px;
  color: #95ecec;
  text-align:end;
  z-index: 10; /* Coloca o nome sobre o ícone */
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.icon-visible:hover .tool-name {
  opacity: 1 !important; /* Nome fica visível */
  transform: translateY(0); /* Move o nome para sua posição final */
}



.about_p {
  font-weight: 900;
  color: #f5ecec;
  transition: filter 0.3s ease, text-shadow 0.3s ease;
  padding: 7px;
  text-shadow: 0 0 10px rgba(118, 126, 126, 0.8), 0 0 20px rgba(54, 58, 58, 0.6), 0 0 30px rgba(46, 49, 49, 0.4);

}

.about_p:hover {
  filter: blur(1px);
}

.certificacoes li {
  position: relative;
  padding: 15px 15px 15px 50px; /* Aumentei o padding-left para dar mais espaço ao texto */
  list-style: none;
  border-radius: 10px;
  background: rgba(7, 7, 7, 0.05);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin-top: 3px;
}

.certificacoes li:hover {
  transform: translateY(-5px);
  box-shadow: 4px 4px 10px rgba(0, 225, 255, 0.3), 
              0px 0px 15px rgba(0, 247, 255, 0.6);
}

.certificacoes li::before {
  content: "🎓"; 
  position: absolute;
  left: 15px; /* Move o ícone um pouco para a direita */
  top: 50%;
  transform: translateY(-50%);
  font-size: 22px;
  color: #3a00db; 
  transition: transform 0.3s ease;
}

.certificacoes li:hover::before {
  transform: translateY(-50%) rotate(10deg);
}

/* Mantém o estilo principal da lista */
.education {
  font-weight: 700;
  font-size: 24px;
  padding: 15px 50px;
  position: relative;
  color: #e4dede;
}

/* Ícone flutuante */
.education::before {
  content: "📚";
  position: absolute;
  left: 15px;
  font-size: 24px;
  animation: bounce 1.5s infinite ease-in-out;
}
/* Animação do ícone flutuante */
@keyframes bounce {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-8px); } /* Aumentei o deslocamento para maior efeito */
} 

/* Subtítulo estilizado como um link */
/* Estilização do link */
.education-subtitle {
  position: relative; /* Necessário para a posição da pré-visualização */
}

.education-subtitle a {
  display: inline-block;
  padding: 6px 12px;
  background-color: #000000;
  color: rgb(38, 221, 212);
  font-size: 14px;
  font-weight: 900;
  border-radius: 6px;
  text-decoration: none;
  transition: background 0.4s ease-in-out, transform 0.4s ease;
}

/* Hover do link */
.education-subtitle a:hover {
  background-color: #1d1c1c;
  transform: scale(1.15);
}

/* Container da pré-visualização */
/* Container da pré-visualização */
.preview-box {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 250px;
  height: 150px;
  background: white;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 999;
  overflow: hidden;
}

/* Exibir a pré-visualização ao passar o mouse */
.education-subtitle:hover .preview-box {
  display: block;
}

/* Estilização da imagem */
.preview-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 8px;
}

/* MY PROJECTS */


.animate-title {
  transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.myprojectsh1 {
  background: linear-gradient(90deg, #00eeff, #00bfff, #00ff15);
  background-size: 200%;
  font-size: 40px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientMove 3s infinite alternate;
  text-shadow: 2px 2px 4px rgba(73, 71, 71, 0.3);
}
@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  100% { background-position: 100% 50%; }
}

/* ALL WEB MOBILE */
.button_projects button {
  padding: 12px 24px;
  border-radius: 30px;
  background: #111;
  color: rgb(206, 189, 189);
  font-weight: 900;
  border: 2px solid rgb(39, 197, 197);
  box-shadow: 0 0 10px rgba(126, 121, 121, 0.5);
  transition: all 0.3s;
}

.button_projects button:hover {
  background: rgb(39, 197, 197);
  color: rgb(0, 0, 0);
}


.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* ou "contain", dependendo do efeito desejado */
  border-radius: 8px; /* Opcional */
  
}


.titulo_projeto{
  font-weight: 700;
  position: relative;
  top: -22px; /* Ajuste conforme necessário */
  margin-left: -15px;
  color: #f1e1e1;
  font-weight: 900;
}

.project-description {
  font-size: 16px;
  font-style: italic;
  color: #b0d5ff;
  font-weight: 900;
  letter-spacing: 0.5px;
  text-shadow: 1px 1px 3px rgba(255, 255, 255, 0.3);
  border-left: 4px solid #b0d5ff;
  padding-left: 8px;
  position: relative;
  top: -20px; /* Ajuste conforme necessário */  
  margin-left: -8px;
}


.lets-connect {
  font-weight: 900;
  font-size: 30px;
  letter-spacing: 0px;
  text-transform: uppercase;
  color: #00aaff; /* Azul-ciano */
  background: linear-gradient(45deg, #bbb4b4, #0278ff);
  margin-bottom: 20px;
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: 0 0 3px rgba(255, 255, 255, 0.4), 
               0 0 6px rgba(255, 255, 255, 0.3), 
               0 0 9px rgba(255, 255, 255, 0.2); /* Sombras mais sutis */
  transition: all 0.4s ease;
  animation: glowing 2s infinite ease-in-out alternate; /* Animação mais lenta */
}

@keyframes glowing {
  0% {
    text-shadow: 0 0 2px rgba(0, 170, 255, 0.4), 
                 0 0 4px rgba(0, 170, 255, 0.3);
  }
  50% {
    text-shadow: 0 0 4px rgba(0, 200, 255, 0.6), 
                 0 0 8px rgba(0, 200, 255, 0.4);
  }
  100% {
    text-shadow: 0 0 2px rgba(0, 170, 255, 0.4), 
                 0 0 4px rgba(0, 170, 255, 0.3);
  }
}

.small-gradient {
  width: 250px; /* Diminui largura */
  height: 250px; /* Diminui altura */
}

.text-email-section {
  font-weight: 500;
  font-size: 16.5px;
  letter-spacing: 0.5px;
  line-height: 2.0;
  color: #d4d4d4; /* Um tom suave para contraste sutil */
  text-shadow: 0 0 4px rgba(255, 255, 255, 0.15); /* Brilho sutil para destacar */
  border-left: 3px solid #00c6ff;
  padding-left: 15px;
}


.span-text-email-section {
  font-weight: 900 !important;
  color: #ffffff;
  background: linear-gradient(45deg, #00d5ff, #007bff); /* Gradiente sutil para destaque */
  -webkit-background-clip: text;
  color: transparent;
  text-shadow: none;
}





.title-table {
  font-weight: 800;
  font-size: 2rem;
  text-align: center;
  color: #ffffff;
  position: relative;
  display: inline-block;
  letter-spacing: 1.0px;
  text-transform: uppercase;
  padding-bottom: 8px;
  margin-bottom: 12px;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}


.label-custom {
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 800;
  text-transform: capitalize;
  font-family: 'Segoe UI', sans-serif;
  margin-bottom: 5px;
  letter-spacing: 0.5px;
  background: linear-gradient(45deg, #ffffff, #a09f9f);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: text-shadow 0.3s ease;
}

.label-custom:hover {
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}




@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500&display=swap');

.input-custom-shadow {
  background-color: #010229;
  border: 2px solid #000;
  color: #f1e3e3;
  padding: 12px 16px;
  border-radius: 30px;
  font-weight: 600;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  letter-spacing: 0.3px;
  transition: all 0.3s ease;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}



.input-custom-shadow::placeholder {
  color: #00ffff;
  opacity: 0.45;
}

.input-custom-shadow:focus {
  border-color: #03347c;
  box-shadow: 0 0 10px rgba(65, 179, 163, 0.3);
  outline: none;
}

.input-custom-shadow:hover {
  border-color: #03347c ;
}

/* Arquivo CSS */
.botao-box {
  background-color: #00193b; /* Cor inicial azul escuro */
  transition: all 0.3s ease;
  position: relative;
}

.botao-box:hover {
  background-color: #020e52; /* Azul marinho para o hover */
  transform: scale(1.03); /* Efeito de aumento */
  box-shadow: 0 4px 15px rgba(2, 14, 82, 0.3); /* Brilho mais suave no hover */
}

/* Efeito da barra de brilho */
.botao-box .group-hover\:w-full {
  width: 0;
  height: 100%;
  background: linear-gradient(to right, rgba(0, 75, 153, 0.2), rgba(0, 75, 153, 0.5), rgba(0, 75, 153, 0.2)); /* Gradiente azul suave */
  transition: width 0.4s ease;
}
x
.botao-box:hover .group-hover\:w-full {
  width: 100%; /* Efeito de aumento da barra no hover */
}

/* Efeito de brilho mais forte no hover */
.botao-box:hover span {
  color: #ffffff; /* Cor do texto em branco quando o hover acontece */
  font-weight: 800;
}







.footer-text{
  font-weight: 700;
  color: #f5f9fd;
}